<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<form action="" method="POST"> {% csrf_token %}

        <table>
        <thead>
        <th>Select ROIs to train</th>
        </thead>
{#    <form action="" method="POST"> {% csrf_token %}#}
    {% for i in a %}
         <tbody>
         <td><input type="checkbox" value="{{ i }}" name="check_box_list" >{{ i }}</td>
         <td> </td>
        </tbody>

    {% endfor %}
    </table>
<input type="submit" value="submit"/>
</form>




</body>
</html>