<div><h1>Image ID is :LungL_014218</h1><img src='/prediction_eval/LungL_014218/0.bmp'>
<img src='/prediction_eval/LungL_014218/1.bmp'>
<img src='/prediction_eval/LungL_014218/2.bmp'>
<img src='/prediction_eval/LungL_014218/3.bmp'>
<img src='/prediction_eval/LungL_014218/4.bmp'>
<img src='/prediction_eval/LungL_014218/5.bmp'>
<img src='/prediction_eval/LungL_014218/6.bmp'>
<img src='/prediction_eval/LungL_014218/7.bmp'>
<img src='/prediction_eval/LungL_014218/8.bmp'>
<img src='/prediction_eval/LungL_014218/9.bmp'>
<img src='/prediction_eval/LungL_014218/10.bmp'>
<img src='/prediction_eval/LungL_014218/11.bmp'>
<img src='/prediction_eval/LungL_014218/12.bmp'>
<img src='/prediction_eval/LungL_014218/13.bmp'>
<img src='/prediction_eval/LungL_014218/14.bmp'>
<img src='/prediction_eval/LungL_014218/15.bmp'>
<img src='/prediction_eval/LungL_014218/16.bmp'>
<img src='/prediction_eval/LungL_014218/17.bmp'>
<img src='/prediction_eval/LungL_014218/18.bmp'>
<img src='/prediction_eval/LungL_014218/19.bmp'>
<img src='/prediction_eval/LungL_014218/20.bmp'>
<img src='/prediction_eval/LungL_014218/21.bmp'>
<img src='/prediction_eval/LungL_014218/22.bmp'>
<img src='/prediction_eval/LungL_014218/23.bmp'>
<img src='/prediction_eval/LungL_014218/24.bmp'>
<img src='/prediction_eval/LungL_014218/25.bmp'>
<img src='/prediction_eval/LungL_014218/26.bmp'>
<img src='/prediction_eval/LungL_014218/27.bmp'>
<img src='/prediction_eval/LungL_014218/28.bmp'>
<img src='/prediction_eval/LungL_014218/29.bmp'>
<img src='/prediction_eval/LungL_014218/30.bmp'>
<img src='/prediction_eval/LungL_014218/31.bmp'>
<img src='/prediction_eval/LungL_014218/32.bmp'>
<img src='/prediction_eval/LungL_014218/33.bmp'>
<img src='/prediction_eval/LungL_014218/34.bmp'>
<img src='/prediction_eval/LungL_014218/35.bmp'>
<img src='/prediction_eval/LungL_014218/36.bmp'>
<img src='/prediction_eval/LungL_014218/37.bmp'>
<img src='/prediction_eval/LungL_014218/38.bmp'>
<img src='/prediction_eval/LungL_014218/39.bmp'>
<img src='/prediction_eval/LungL_014218/40.bmp'>
<img src='/prediction_eval/LungL_014218/41.bmp'>
<img src='/prediction_eval/LungL_014218/42.bmp'>
<img src='/prediction_eval/LungL_014218/43.bmp'>
<img src='/prediction_eval/LungL_014218/44.bmp'>
<img src='/prediction_eval/LungL_014218/45.bmp'>
<img src='/prediction_eval/LungL_014218/46.bmp'>
<img src='/prediction_eval/LungL_014218/47.bmp'>
<img src='/prediction_eval/LungL_014218/48.bmp'>
<img src='/prediction_eval/LungL_014218/49.bmp'>
<img src='/prediction_eval/LungL_014218/50.bmp'>
<img src='/prediction_eval/LungL_014218/51.bmp'>
<img src='/prediction_eval/LungL_014218/52.bmp'>
<img src='/prediction_eval/LungL_014218/53.bmp'>
<img src='/prediction_eval/LungL_014218/54.bmp'>
<img src='/prediction_eval/LungL_014218/55.bmp'>
<img src='/prediction_eval/LungL_014218/56.bmp'>
<img src='/prediction_eval/LungL_014218/57.bmp'>
<img src='/prediction_eval/LungL_014218/58.bmp'>
<h1>Image ID is :LungL_014668</h1><img src='/prediction_eval/LungL_014668/0.bmp'>
<img src='/prediction_eval/LungL_014668/1.bmp'>
<img src='/prediction_eval/LungL_014668/2.bmp'>
<img src='/prediction_eval/LungL_014668/3.bmp'>
<img src='/prediction_eval/LungL_014668/4.bmp'>
<img src='/prediction_eval/LungL_014668/5.bmp'>
<img src='/prediction_eval/LungL_014668/6.bmp'>
<img src='/prediction_eval/LungL_014668/7.bmp'>
<img src='/prediction_eval/LungL_014668/8.bmp'>
<img src='/prediction_eval/LungL_014668/9.bmp'>
<img src='/prediction_eval/LungL_014668/10.bmp'>
<img src='/prediction_eval/LungL_014668/11.bmp'>
<img src='/prediction_eval/LungL_014668/12.bmp'>
<img src='/prediction_eval/LungL_014668/13.bmp'>
<img src='/prediction_eval/LungL_014668/14.bmp'>
<img src='/prediction_eval/LungL_014668/15.bmp'>
<img src='/prediction_eval/LungL_014668/16.bmp'>
<img src='/prediction_eval/LungL_014668/17.bmp'>
<img src='/prediction_eval/LungL_014668/18.bmp'>
<img src='/prediction_eval/LungL_014668/19.bmp'>
<img src='/prediction_eval/LungL_014668/20.bmp'>
<img src='/prediction_eval/LungL_014668/21.bmp'>
<img src='/prediction_eval/LungL_014668/22.bmp'>
<img src='/prediction_eval/LungL_014668/23.bmp'>
<img src='/prediction_eval/LungL_014668/24.bmp'>
<img src='/prediction_eval/LungL_014668/25.bmp'>
<img src='/prediction_eval/LungL_014668/26.bmp'>
<img src='/prediction_eval/LungL_014668/27.bmp'>
<img src='/prediction_eval/LungL_014668/28.bmp'>
<img src='/prediction_eval/LungL_014668/29.bmp'>
<img src='/prediction_eval/LungL_014668/30.bmp'>
<img src='/prediction_eval/LungL_014668/31.bmp'>
<img src='/prediction_eval/LungL_014668/32.bmp'>
<img src='/prediction_eval/LungL_014668/33.bmp'>
<img src='/prediction_eval/LungL_014668/34.bmp'>
<img src='/prediction_eval/LungL_014668/35.bmp'>
<img src='/prediction_eval/LungL_014668/36.bmp'>
<img src='/prediction_eval/LungL_014668/37.bmp'>
<img src='/prediction_eval/LungL_014668/38.bmp'>
<img src='/prediction_eval/LungL_014668/39.bmp'>
<img src='/prediction_eval/LungL_014668/40.bmp'>
<img src='/prediction_eval/LungL_014668/41.bmp'>
<img src='/prediction_eval/LungL_014668/42.bmp'>
<img src='/prediction_eval/LungL_014668/43.bmp'>
<img src='/prediction_eval/LungL_014668/44.bmp'>
<img src='/prediction_eval/LungL_014668/45.bmp'>
<img src='/prediction_eval/LungL_014668/46.bmp'>
<img src='/prediction_eval/LungL_014668/47.bmp'>
<img src='/prediction_eval/LungL_014668/48.bmp'>
<img src='/prediction_eval/LungL_014668/49.bmp'>
<img src='/prediction_eval/LungL_014668/50.bmp'>
<img src='/prediction_eval/LungL_014668/51.bmp'>
<img src='/prediction_eval/LungL_014668/52.bmp'>
<img src='/prediction_eval/LungL_014668/53.bmp'>
<img src='/prediction_eval/LungL_014668/54.bmp'>
<img src='/prediction_eval/LungL_014668/55.bmp'>
<img src='/prediction_eval/LungL_014668/56.bmp'>
<img src='/prediction_eval/LungL_014668/57.bmp'>
<img src='/prediction_eval/LungL_014668/58.bmp'>
<img src='/prediction_eval/LungL_014668/59.bmp'>
<img src='/prediction_eval/LungL_014668/60.bmp'>
<h1>Image ID is :LungL_014510</h1><img src='/prediction_eval/LungL_014510/0.bmp'>
<img src='/prediction_eval/LungL_014510/1.bmp'>
<img src='/prediction_eval/LungL_014510/2.bmp'>
<img src='/prediction_eval/LungL_014510/3.bmp'>
<img src='/prediction_eval/LungL_014510/4.bmp'>
<img src='/prediction_eval/LungL_014510/5.bmp'>
<img src='/prediction_eval/LungL_014510/6.bmp'>
<img src='/prediction_eval/LungL_014510/7.bmp'>
<img src='/prediction_eval/LungL_014510/8.bmp'>
<img src='/prediction_eval/LungL_014510/9.bmp'>
<img src='/prediction_eval/LungL_014510/10.bmp'>
<img src='/prediction_eval/LungL_014510/11.bmp'>
<img src='/prediction_eval/LungL_014510/12.bmp'>
<img src='/prediction_eval/LungL_014510/13.bmp'>
<img src='/prediction_eval/LungL_014510/14.bmp'>
<img src='/prediction_eval/LungL_014510/15.bmp'>
<img src='/prediction_eval/LungL_014510/16.bmp'>
<img src='/prediction_eval/LungL_014510/17.bmp'>
<img src='/prediction_eval/LungL_014510/18.bmp'>
<img src='/prediction_eval/LungL_014510/19.bmp'>
<img src='/prediction_eval/LungL_014510/20.bmp'>
<img src='/prediction_eval/LungL_014510/21.bmp'>
<img src='/prediction_eval/LungL_014510/22.bmp'>
<img src='/prediction_eval/LungL_014510/23.bmp'>
<img src='/prediction_eval/LungL_014510/24.bmp'>
<img src='/prediction_eval/LungL_014510/25.bmp'>
<img src='/prediction_eval/LungL_014510/26.bmp'>
<img src='/prediction_eval/LungL_014510/27.bmp'>
<img src='/prediction_eval/LungL_014510/28.bmp'>
<img src='/prediction_eval/LungL_014510/29.bmp'>
<img src='/prediction_eval/LungL_014510/30.bmp'>
<img src='/prediction_eval/LungL_014510/31.bmp'>
<img src='/prediction_eval/LungL_014510/32.bmp'>
<img src='/prediction_eval/LungL_014510/33.bmp'>
<img src='/prediction_eval/LungL_014510/34.bmp'>
<img src='/prediction_eval/LungL_014510/35.bmp'>
<img src='/prediction_eval/LungL_014510/36.bmp'>
<img src='/prediction_eval/LungL_014510/37.bmp'>
<img src='/prediction_eval/LungL_014510/38.bmp'>
<img src='/prediction_eval/LungL_014510/39.bmp'>
<img src='/prediction_eval/LungL_014510/40.bmp'>
<img src='/prediction_eval/LungL_014510/41.bmp'>
<img src='/prediction_eval/LungL_014510/42.bmp'>
<img src='/prediction_eval/LungL_014510/43.bmp'>
<img src='/prediction_eval/LungL_014510/44.bmp'>
<img src='/prediction_eval/LungL_014510/45.bmp'>
<img src='/prediction_eval/LungL_014510/46.bmp'>
<img src='/prediction_eval/LungL_014510/47.bmp'>
<img src='/prediction_eval/LungL_014510/48.bmp'>
<img src='/prediction_eval/LungL_014510/49.bmp'>
<img src='/prediction_eval/LungL_014510/50.bmp'>
<img src='/prediction_eval/LungL_014510/51.bmp'>
<img src='/prediction_eval/LungL_014510/52.bmp'>
<img src='/prediction_eval/LungL_014510/53.bmp'>
<h1>Image ID is :LungL_014529</h1><img src='/prediction_eval/LungL_014529/0.bmp'>
<img src='/prediction_eval/LungL_014529/1.bmp'>
<img src='/prediction_eval/LungL_014529/2.bmp'>
<img src='/prediction_eval/LungL_014529/3.bmp'>
<img src='/prediction_eval/LungL_014529/4.bmp'>
<img src='/prediction_eval/LungL_014529/5.bmp'>
<img src='/prediction_eval/LungL_014529/6.bmp'>
<img src='/prediction_eval/LungL_014529/7.bmp'>
<img src='/prediction_eval/LungL_014529/8.bmp'>
<img src='/prediction_eval/LungL_014529/9.bmp'>
<img src='/prediction_eval/LungL_014529/10.bmp'>
<img src='/prediction_eval/LungL_014529/11.bmp'>
<img src='/prediction_eval/LungL_014529/12.bmp'>
<img src='/prediction_eval/LungL_014529/13.bmp'>
<img src='/prediction_eval/LungL_014529/14.bmp'>
<img src='/prediction_eval/LungL_014529/15.bmp'>
<img src='/prediction_eval/LungL_014529/16.bmp'>
<img src='/prediction_eval/LungL_014529/17.bmp'>
<img src='/prediction_eval/LungL_014529/18.bmp'>
<img src='/prediction_eval/LungL_014529/19.bmp'>
<img src='/prediction_eval/LungL_014529/20.bmp'>
<img src='/prediction_eval/LungL_014529/21.bmp'>
<img src='/prediction_eval/LungL_014529/22.bmp'>
<img src='/prediction_eval/LungL_014529/23.bmp'>
<img src='/prediction_eval/LungL_014529/24.bmp'>
<img src='/prediction_eval/LungL_014529/25.bmp'>
<img src='/prediction_eval/LungL_014529/26.bmp'>
<img src='/prediction_eval/LungL_014529/27.bmp'>
<img src='/prediction_eval/LungL_014529/28.bmp'>
<img src='/prediction_eval/LungL_014529/29.bmp'>
<img src='/prediction_eval/LungL_014529/30.bmp'>
<img src='/prediction_eval/LungL_014529/31.bmp'>
<img src='/prediction_eval/LungL_014529/32.bmp'>
<img src='/prediction_eval/LungL_014529/33.bmp'>
<img src='/prediction_eval/LungL_014529/34.bmp'>
<img src='/prediction_eval/LungL_014529/35.bmp'>
<img src='/prediction_eval/LungL_014529/36.bmp'>
<img src='/prediction_eval/LungL_014529/37.bmp'>
<img src='/prediction_eval/LungL_014529/38.bmp'>
<img src='/prediction_eval/LungL_014529/39.bmp'>
<img src='/prediction_eval/LungL_014529/40.bmp'>
<img src='/prediction_eval/LungL_014529/41.bmp'>
<img src='/prediction_eval/LungL_014529/42.bmp'>
<img src='/prediction_eval/LungL_014529/43.bmp'>
<img src='/prediction_eval/LungL_014529/44.bmp'>
<img src='/prediction_eval/LungL_014529/45.bmp'>
<img src='/prediction_eval/LungL_014529/46.bmp'>
<img src='/prediction_eval/LungL_014529/47.bmp'>
<img src='/prediction_eval/LungL_014529/48.bmp'>
<img src='/prediction_eval/LungL_014529/49.bmp'>
<img src='/prediction_eval/LungL_014529/50.bmp'>
<img src='/prediction_eval/LungL_014529/51.bmp'>
<img src='/prediction_eval/LungL_014529/52.bmp'>
<img src='/prediction_eval/LungL_014529/53.bmp'>
<h1>Image ID is :LungL_014719</h1><img src='/prediction_eval/LungL_014719/0.bmp'>
<img src='/prediction_eval/LungL_014719/1.bmp'>
<img src='/prediction_eval/LungL_014719/2.bmp'>
<img src='/prediction_eval/LungL_014719/3.bmp'>
<img src='/prediction_eval/LungL_014719/4.bmp'>
<img src='/prediction_eval/LungL_014719/5.bmp'>
<img src='/prediction_eval/LungL_014719/6.bmp'>
<img src='/prediction_eval/LungL_014719/7.bmp'>
<img src='/prediction_eval/LungL_014719/8.bmp'>
<img src='/prediction_eval/LungL_014719/9.bmp'>
<img src='/prediction_eval/LungL_014719/10.bmp'>
<img src='/prediction_eval/LungL_014719/11.bmp'>
<img src='/prediction_eval/LungL_014719/12.bmp'>
<img src='/prediction_eval/LungL_014719/13.bmp'>
<img src='/prediction_eval/LungL_014719/14.bmp'>
<img src='/prediction_eval/LungL_014719/15.bmp'>
<img src='/prediction_eval/LungL_014719/16.bmp'>
<img src='/prediction_eval/LungL_014719/17.bmp'>
<img src='/prediction_eval/LungL_014719/18.bmp'>
<img src='/prediction_eval/LungL_014719/19.bmp'>
<img src='/prediction_eval/LungL_014719/20.bmp'>
<img src='/prediction_eval/LungL_014719/21.bmp'>
<img src='/prediction_eval/LungL_014719/22.bmp'>
<img src='/prediction_eval/LungL_014719/23.bmp'>
<img src='/prediction_eval/LungL_014719/24.bmp'>
<img src='/prediction_eval/LungL_014719/25.bmp'>
<img src='/prediction_eval/LungL_014719/26.bmp'>
<img src='/prediction_eval/LungL_014719/27.bmp'>
<img src='/prediction_eval/LungL_014719/28.bmp'>
<img src='/prediction_eval/LungL_014719/29.bmp'>
<img src='/prediction_eval/LungL_014719/30.bmp'>
<img src='/prediction_eval/LungL_014719/31.bmp'>
<img src='/prediction_eval/LungL_014719/32.bmp'>
<img src='/prediction_eval/LungL_014719/33.bmp'>
<img src='/prediction_eval/LungL_014719/34.bmp'>
<img src='/prediction_eval/LungL_014719/35.bmp'>
<img src='/prediction_eval/LungL_014719/36.bmp'>
<img src='/prediction_eval/LungL_014719/37.bmp'>
<img src='/prediction_eval/LungL_014719/38.bmp'>
<img src='/prediction_eval/LungL_014719/39.bmp'>
<img src='/prediction_eval/LungL_014719/40.bmp'>
<img src='/prediction_eval/LungL_014719/41.bmp'>
<img src='/prediction_eval/LungL_014719/42.bmp'>
<img src='/prediction_eval/LungL_014719/43.bmp'>
<img src='/prediction_eval/LungL_014719/44.bmp'>
<img src='/prediction_eval/LungL_014719/45.bmp'>
<img src='/prediction_eval/LungL_014719/46.bmp'>
<img src='/prediction_eval/LungL_014719/47.bmp'>
<img src='/prediction_eval/LungL_014719/48.bmp'>
<img src='/prediction_eval/LungL_014719/49.bmp'>
<img src='/prediction_eval/LungL_014719/50.bmp'>
<img src='/prediction_eval/LungL_014719/51.bmp'>
<img src='/prediction_eval/LungL_014719/52.bmp'>
<img src='/prediction_eval/LungL_014719/53.bmp'>
<img src='/prediction_eval/LungL_014719/54.bmp'>
<img src='/prediction_eval/LungL_014719/55.bmp'>
</div>