<div><h1>Image ID is :DoubleLung_007585</h1><img src='/prediction/DoubleLung_007585/0.bmp'>
<img src='/prediction/DoubleLung_007585/1.bmp'>
<img src='/prediction/DoubleLung_007585/2.bmp'>
<img src='/prediction/DoubleLung_007585/3.bmp'>
<img src='/prediction/DoubleLung_007585/4.bmp'>
<img src='/prediction/DoubleLung_007585/5.bmp'>
<img src='/prediction/DoubleLung_007585/6.bmp'>
<img src='/prediction/DoubleLung_007585/7.bmp'>
<img src='/prediction/DoubleLung_007585/8.bmp'>
<img src='/prediction/DoubleLung_007585/9.bmp'>
<img src='/prediction/DoubleLung_007585/10.bmp'>
<img src='/prediction/DoubleLung_007585/11.bmp'>
<img src='/prediction/DoubleLung_007585/12.bmp'>
<img src='/prediction/DoubleLung_007585/13.bmp'>
<img src='/prediction/DoubleLung_007585/14.bmp'>
<img src='/prediction/DoubleLung_007585/15.bmp'>
<img src='/prediction/DoubleLung_007585/16.bmp'>
<img src='/prediction/DoubleLung_007585/17.bmp'>
<img src='/prediction/DoubleLung_007585/18.bmp'>
<img src='/prediction/DoubleLung_007585/19.bmp'>
<img src='/prediction/DoubleLung_007585/20.bmp'>
<img src='/prediction/DoubleLung_007585/21.bmp'>
<img src='/prediction/DoubleLung_007585/22.bmp'>
<img src='/prediction/DoubleLung_007585/23.bmp'>
<img src='/prediction/DoubleLung_007585/24.bmp'>
<img src='/prediction/DoubleLung_007585/25.bmp'>
<img src='/prediction/DoubleLung_007585/26.bmp'>
<img src='/prediction/DoubleLung_007585/27.bmp'>
<img src='/prediction/DoubleLung_007585/28.bmp'>
<img src='/prediction/DoubleLung_007585/29.bmp'>
<img src='/prediction/DoubleLung_007585/30.bmp'>
<img src='/prediction/DoubleLung_007585/31.bmp'>
<img src='/prediction/DoubleLung_007585/32.bmp'>
<img src='/prediction/DoubleLung_007585/33.bmp'>
<img src='/prediction/DoubleLung_007585/34.bmp'>
<img src='/prediction/DoubleLung_007585/35.bmp'>
<img src='/prediction/DoubleLung_007585/36.bmp'>
<img src='/prediction/DoubleLung_007585/37.bmp'>
<img src='/prediction/DoubleLung_007585/38.bmp'>
<img src='/prediction/DoubleLung_007585/39.bmp'>
<img src='/prediction/DoubleLung_007585/40.bmp'>
<img src='/prediction/DoubleLung_007585/41.bmp'>
<img src='/prediction/DoubleLung_007585/42.bmp'>
<img src='/prediction/DoubleLung_007585/43.bmp'>
<img src='/prediction/DoubleLung_007585/44.bmp'>
<img src='/prediction/DoubleLung_007585/45.bmp'>
<img src='/prediction/DoubleLung_007585/46.bmp'>
<img src='/prediction/DoubleLung_007585/47.bmp'>
<img src='/prediction/DoubleLung_007585/48.bmp'>
<img src='/prediction/DoubleLung_007585/49.bmp'>
<img src='/prediction/DoubleLung_007585/50.bmp'>
<img src='/prediction/DoubleLung_007585/51.bmp'>
<img src='/prediction/DoubleLung_007585/52.bmp'>
<img src='/prediction/DoubleLung_007585/53.bmp'>
<img src='/prediction/DoubleLung_007585/54.bmp'>
<img src='/prediction/DoubleLung_007585/55.bmp'>
<img src='/prediction/DoubleLung_007585/56.bmp'>
<img src='/prediction/DoubleLung_007585/57.bmp'>
<img src='/prediction/DoubleLung_007585/58.bmp'>
<img src='/prediction/DoubleLung_007585/59.bmp'>
<img src='/prediction/DoubleLung_007585/60.bmp'>
<img src='/prediction/DoubleLung_007585/61.bmp'>
<img src='/prediction/DoubleLung_007585/62.bmp'>
<img src='/prediction/DoubleLung_007585/63.bmp'>
<img src='/prediction/DoubleLung_007585/64.bmp'>
<img src='/prediction/DoubleLung_007585/65.bmp'>
<img src='/prediction/DoubleLung_007585/66.bmp'>
<img src='/prediction/DoubleLung_007585/67.bmp'>
<img src='/prediction/DoubleLung_007585/68.bmp'>
<img src='/prediction/DoubleLung_007585/69.bmp'>
<img src='/prediction/DoubleLung_007585/70.bmp'>
<img src='/prediction/DoubleLung_007585/71.bmp'>
<img src='/prediction/DoubleLung_007585/72.bmp'>
<img src='/prediction/DoubleLung_007585/73.bmp'>
<img src='/prediction/DoubleLung_007585/74.bmp'>
<img src='/prediction/DoubleLung_007585/75.bmp'>
<img src='/prediction/DoubleLung_007585/76.bmp'>
<img src='/prediction/DoubleLung_007585/77.bmp'>
<img src='/prediction/DoubleLung_007585/78.bmp'>
</div>