<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>beta(CRI-SZ)</title>
</head>
{% load static %}
{{name}}<img src="{% static "images/logo.png" %}" alt="ui-logo">

<body>
    <h1>Automated training platform</h1>
    
    <form action="/" method="post">
        {% csrf_token %}
        <input type="submit" value="import">
    </form>
    
    <p>Input task ID here (example: 111)</p>
    <form action="/input_id/" method="post">
        {% csrf_token %}
        <input type="submit" value="task ID:">
        <input type="text" name="q0">
    </form>
    <p>Task ID and task name is: {{ rlt }}</p>
    
    <form action="/check_label/" method="post">
        {% csrf_token %}
        <input type="submit" value="check label">
    </form>
    <p>Available label names are:{{ tlabel }} </p>
    
    <form action="/choose_label/" method="post">
        {% csrf_token %}
        <input type="submit" value="label name">
        <input type="text" name="q1">
    </form>
    <p>Label choosen is: {{ label }}</p>
    

    
    <form action="/prepare_data/" method="post">
        {% csrf_token %}
        <input type="submit" value="prepare data">
    </form>
    
    <form action="/plan/" method="post">
        {% csrf_token %}
        <input type="submit" value="plan">
    </form>
    
    <form action="/train/" method="post">
        {% csrf_token %}
        <input type="submit" value="train">
    </form>
    
    <form action="/predict/" method="post">
        {% csrf_token %}
        <input type="submit" value="predict">
    </form>
    
    <form action="/evaluate/" method="post">
        {% csrf_token %}
        <input type="submit" value="evaluation">
    </form>
    
    <form action="/check_result/" method="post">
        {% csrf_token %}
        <input type="submit" value="check result">
    </form>
 
{{ views_str|safe }}
<img src="/img/progress.png" alt="progress"/ width="1000" height="800">





<body>
    <!--1. button-->
    <div class="container">
 
        <button class="btn btn-default" type="button">show progress bar</button>
 
 
	    <!--2. progress bar-->
	    <div  class="progress-div">
	        <div class="progress">
	            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
	                2%
	            </div>
	        </div>
	    </div>
 
    </br>
 
         <div class="progress-text progress-bar-striped active"  role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
 
	            </div>
 
 
 
    </div>
</body>


<script>
 
 $(function () {
        $('.btn').on('click', function () {
                console.log("come in ")
                var log = ""
                var sitv = setInterval(function(){
 
                    var prog_url = '/show_progress'              
                    $.getJSON(prog_url, function(num_progress){
 
 
{#                         console.log("come in num_progress="+num_progress)#}
                        log = log + num_progress+ "-"
                        $('.progress-div').css('visibility', 'visible');
                        $('.progress-bar').css('width', num_progress + '%');
                        $('.progress-bar').text(num_progress + '%');
                        $('.progress-text').text( 'showlog'+log );
                        $('.progress-text').css('width', '100%');
 
            {#            $('#prog_in').width(res + '%');     
                         if(num_progress == '99'){
                              console.log("come in 99")
                            clearInterval(sitv);
                            $('.progress-bar').css('width', '100%');
                            $('.progress-bar').text('100%');
                        }
 
                    });
 
 
                }, 10);                               
 
 
            var thisurl = '/process_data'                      
{#            var yourjson = '90'#}
            $.getJSON(thisurl, function(res){
            // ...
 
             console.log("sitv over res"+res)
                clearInterval(sitv);                   
            });
 
        })
})
 
 
 
</script>



<head>
    <meta charset="UTF-8">
    <title>silde image demo</title>
    <style>
        .stage {
                display:flex;
            margin:100px auto auto auto;
            width:400px;
            height:400px;
            overflow:hidden;
        }
         
    </style>
    <script>

        window.addEventListener('load',function(){
            var imgUrls = ['/prediction/optic_r_007852/0.bmp','/prediction/optic_r_007852/1.bmp','/prediction/optic_r_007852/2.bmp','/prediction/optic_r_007852/3.bmp','/prediction/optic_r_007852/4.bmp','/prediction/optic_r_007852/5.bmp'];
            var imgSrcs = imgUrls;
            var interval = 1000;
            var viewer = document.getElementById('viewer');
            var current = 0;
            var len = imgSrcs.length;
            var setImage = function(){
             
                viewer.src = imgSrcs[current];
                current = ++current>len-1? 0 : current;
             
            };
             
            setImage();
             
            setInterval(setImage,interval);
             
        });
    </script>
</head>
<body>
    <div class="stage">
        <img id="viewer" src="#" alt="">
    </div>
</body>

<meta http-equiv="refresh" content="60">   


<p></p>
<p>Dependencies: nnUnet(https://github.com/MIC-DKFZ/nnUNet)</p>
</body>
</html>