<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>beta(CRI-SZ)</title>
</head>
{% load static %}
{{name}}<img src="{% static "images/logo.png" %}" alt="ui-logo">

<body>
    <h1>Automated training platform</h1>
    
    
    <form action="/check_label/" method="post">
        {% csrf_token %}
        <input type="submit" value="check label">
    </form>
    <p>Available label names are:{{ tlabel }} </p>
    
    <form action="/choose_label/" method="post">
        {% csrf_token %}
        <input type="submit" value="label name">
        <input type="text" name="q1">
    </form>
    
    <p>Mode: <p>

    <form action="/mode/2d/" form method="post">
        {% csrf_token %}
        <input type="submit" value="2d">
    </form>
    
    <form action="/mode/3d_fullres/" form method="post">
        {% csrf_token %}
        <input type="submit" value="3d_fullres">
    </form>
    
    
    <p>Task ID is: {{ id }} </p>  
    <p>Label choosen is: {{ label }} </p>
    <p>Mode choosen is: {{ mode }} </p>



<p></p>
<p>Dependencies: nnUnet(https://github.com/MIC-DKFZ/nnUNet)</p>
</body>
</html>